
// Import Bulma's core
@import "bulma/sass/utilities/_index";

//Variables
@import "./variables.scss";

// Import Bulma and Buefy styles
/* @import "bulma/bulma"; */
@import "buefy/dist/buefy";

//Google fonts
@import "https://fonts.googleapis.com/css?family=Open+Sans:ital,300,400,600,700,800&display=swap";

//Import fonts fontawesome
@import '@fortawesome/fontawesome-free/css/all.css';

#app{
    .container{
        padding-bottom: 80px;
    }
}
.footer{
    background: $success;
    bottom: 0;
    color: white;
    height: 60px;
    position: fixed;
    width: 100%;
}
